<feeds>

  <ul each={ items }>
    <li>
      <a class="btn" href="#/feed/{ encodeURIComponent(link) }"><i class="fa fa-pencil"></i></a> <a href="#">{ title }</a>
    </li>
  </ul>

  <script>
    this.items = []

    this.on('mount', () => {
      fetch('http://localhost:1707/feed')
      .then((response) => response.json())
      .then((data) => {
        this.items = data.feeds
        this.update()
      })
    })
  </script>

  <style>
  :scope .card {
    margin: 1em;
  }
  </style>

</feeds>
